// reference this issue https://github.com/webpack-contrib/sass-loader/issues/40
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$background1: #FFF;
$background2: #ED334A;
$background3: #ffbf00;

@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

html, body {
  font-size: 16px;
}

body {
  color: white;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6em;
  background: $background1;
}

h1, h2 {
  font-family: 'Lora', serif;
}

h2 {
  font-size: 2.1em;
  font-weight: 600;
}  

.jumbotron {
  text-align: center;
  align-items: center;
  background-size: cover;
  background: #000;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

#header {
  
  h1 {
    font-size: 2.2em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;

    &.alt {
      margin-top: 0;
      margin-bottom: 10px;
      text-transform: capitalize;
      font-size: 2em;
    }
  }

  h2 {
    font-family: 'Source Sans Pro',sans-serif;
    color: silver;
    font-size: 2em;
    font-weight: 300;
    text-transform: none;
  }
}

.portfolio-item {
  margin: 100px 0;
  color: black;
  text-align: justify;

  .img-container {
    max-width: 100%;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 10;
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 50%, rgba(255,255,255,0.58) 75%, rgba(255,255,255,1) 93%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 50%,rgba(255,255,255,0.58) 75%,rgba(255,255,255,1) 93%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 50%,rgba(255,255,255,0.58) 75%,rgba(255,255,255,1) 93%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
  }

  img {
    max-width: 100%;
  }

  h2 {
    font-size: 2.1em;
    margin-top: 0;

    &.alt {
      font-size: 1.2em;
      padding-bottom: 10px;
      text-transform: upcase;
    }
  }

  p {
    font-size: 1.125em;
    font-weight: 300;
    line-height: 1.725em;
  }

  &.special {
    font-size: 2.1em;
    font-weight: 300;
    line-height: 1.2em;
    margin: 0 0 100px 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

}

#what-can-i-do {
  background: $background2;
}

#other-work {
  background: $background3;
}

#what-can-i-do, #other-work {

  h2 {
    margin: 0 0 10px 0;
  }

  .space-up {
    padding-top: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;

    li {
      font-size: 2em;
      font-weight: 300;
      line-height: 1em;
      margin: 40px 0;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  a {
    color: black;
    font-weight: 300;
  }
}


.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 

  iframe { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
  }
} 

.inview {
  padding: 100px 0;
}

hr {
  text-align: center;
  background: white;
  border: 0;
  
  &:after {
    content: '▴▴▴';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    color: black;
    font-size: 18px;
  }
}

@media(max-width: 900px) {

  .inview {
    padding: 100px 0;
  }
}

@media(max-width: 768px) {

  #what-can-i-do, #other-work {

    .space-up {
      padding-top: 60px;
    }
  }
  
  .inview {
    padding: 100px 0;
  }
}

@media(max-width: 480px) {

  #header {
    font-size: 12px;

    img {
      max-width: 70%;
    }
  }

  .portfolio-item {

    &.special {
      font-size: 1.6em;
      line-height: 1.4em;
      margin-bottom: 50px;
    }
  }
  
  .inview {
    padding: 60px 0;
  }

}




